* {
    padding: 0px;
    margin: auto;
}

#hiof {
    padding: 10px 0px 10px 20px;
    float: left;
}

#hUser {
    padding: 10px 20px 10px 0px;
    float: right;
    font-size: 25px;
}

header {
    margin: 0;
    box-shadow: 0px 0px 20px 0px rgb(58, 58, 58);
}

main {
    padding-top: 100px;
}

#app {
    margin: 0;
    width: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas: "header"
                         "main"
}

#flexTwo {
    padding: 75px 0px 0px 0px;
    display: flex;
    flex-flow: row;
    width: 800px;
    justify-content: flex-start;
}

#flexThree {
    padding: 50px 0px 0px 0px;
    width: 100%;
}

article {
    width: 230px;
    box-shadow: 0px 15px 49px -21px rgba(0,208,255,1);
    padding: 20px 0px 0px 20px;
    border-radius: 2px;
    background: white;
    margin: 0;
}

table {
    width: 100%;
    border-spacing: 0px;
    margin: 0;
}

th {
    text-align: left;
    background-color: rgb(194, 194, 194);
    padding: 8px 0px 8px 30px;
}

td {
    border-bottom: 1px solid rgb(175, 175, 175);    
    padding: 15px 0px 10px 30px;
    color: grey;
}

tr {
    padding: 10px
} 

.bDelete, .bComplete {
    padding: 5px 10px 5px 10px;
    box-shadow: none;
    border: none;
    margin: 5px 5px 5px 5px;
    border-radius: 5px;
    color: white;
    width: 80px;
}

#bTodo {
    width: 160px;
    border: 1px solid black;
    text-align: center;
    padding: 8px 0px;
    margin: 0;
    font-size: 22px;
}

#completedTodo {
    padding: 20px 0px 40px 0px;
}

.bDelete {
    background-color: red;
}

.bComplete {
    background-color: rgb(31, 220, 220);
}

.buttonFlex {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    padding: 20px 15px 10px 0px;
    margin: 0;
}


#newTodo {
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(118, 118, 118, 0.4);
}

.newTodoContent {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 30%;
    border-radius: 5px;
}

#newTodoFlex {
    display: flex;
    flex-flow: column;
    text-align: left;
    padding: 20px 22px;
}

#newTodoFlex > * {
    margin: 0;
}

#newTodoFlex h1  {
    font-size: 15px;
}

#topElements {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

#topElements > * {
    margin: 0;
}

#topElements h1 {
    font-size: 20px;
    padding: 22px 0px 10px 22px;
}

#topElements button {
    font-size: 20px;
    padding: 20px;
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}

#bCreate {
    margin-top: 20px;
}

label {
    padding-top: 10px;
}








